amcl:
  ros__parameters:
    # =====================
    # AMCL Parameters
    # =====================
    use_sim_time: False  # Use simulation time if true
    alpha1: 0.2  # Odometry model parameter
    alpha2: 0.2  # Odometry model parameter
    alpha3: 0.2  # Odometry model parameter
    alpha4: 0.2  # Odometry model parameter
    alpha5: 0.2  # Odometry model parameter
    base_frame_id: "base_footprint"  # Base frame ID
    beam_skip_distance: 0.5  # Distance to skip beams
    beam_skip_error_threshold: 0.9  # Error threshold for beam skipping
    beam_skip_threshold: 0.3  # Threshold for beam skipping
    do_beamskip: false  # Enable beam skipping
    global_frame_id: "map"  # Global frame ID
    lambda_short: 0.1  # Short lambda parameter
    laser_likelihood_max_dist: 2.0  # Max distance for laser likelihood
    laser_max_range: 100.0  # Max range for laser
    laser_min_range: -1.0  # Min range for laser
    laser_model_type: "likelihood_field"  # Laser model type
    max_beams: 60  # Max number of beams
    max_particles: 2000  # Max number of particles
    min_particles: 500  # Min number of particles
    odom_frame_id: "odom"  # Odometry frame ID
    pf_err: 0.05  # Particle filter error
    pf_z: 0.99  # Particle filter z
    recovery_alpha_fast: 0.0  # Fast recovery alpha
    recovery_alpha_slow: 0.0  # Slow recovery alpha
    resample_interval: 1  # Resample interval
    robot_model_type: "nav2_amcl::DifferentialMotionModel"  # Robot model type
    save_pose_rate: 0.5  # Rate to save pose
    sigma_hit: 0.2  # Sigma hit parameter
    tf_broadcast: true  # Enable TF broadcast
    transform_tolerance: 1.0  # Transform tolerance
    update_min_a: 0.2  # Min update angle
    update_min_d: 0.25  # Min update distance
    z_hit: 0.5  # Z hit parameter
    z_max: 0.05  # Z max parameter
    z_rand: 0.5  # Z random parameter
    z_short: 0.05  # Z short parameter
    scan_topic: scan  # Scan topic

amcl_map_client:
  ros__parameters:
    use_sim_time: False  # Use simulation time if true

amcl_rclcpp_node:
  ros__parameters:
    use_sim_time: False  # Use simulation time if true

bt_navigator:
  ros__parameters:
    # =====================
    # BT Navigator Parameters
    # =====================
    use_sim_time: False  # Use simulation time if true
    global_frame: map  # Global frame ID
    robot_base_frame: base_link  # Robot base frame ID
    odom_topic: /odom  # Odometry topic
    default_bt_xml_filename: "navigate_w_replanning_and_recovery.xml"  # Default BT XML filename
    bt_loop_duration: 10  # BT loop duration
    default_server_timeout: 20  # Default server timeout
    enable_groot_monitoring: True  # Enable Groot monitoring
    groot_zmq_publisher_port: 1666  # Groot ZMQ publisher port
    groot_zmq_server_port: 1667  # Groot ZMQ server port
    plugin_lib_names:  # List of plugin library names
    - nav2_compute_path_to_pose_action_bt_node
    - nav2_compute_path_through_poses_action_bt_node
    - nav2_follow_path_action_bt_node
    - nav2_back_up_action_bt_node
    - nav2_spin_action_bt_node
    - nav2_wait_action_bt_node
    - nav2_clear_costmap_service_bt_node
    - nav2_is_stuck_condition_bt_node
    - nav2_goal_reached_condition_bt_node
    - nav2_goal_updated_condition_bt_node
    - nav2_initial_pose_received_condition_bt_node
    - nav2_reinitialize_global_localization_service_bt_node
    - nav2_rate_controller_bt_node
    - nav2_distance_controller_bt_node
    - nav2_speed_controller_bt_node
    - nav2_truncate_path_action_bt_node
    - nav2_goal_updater_node_bt_node
    - nav2_recovery_node_bt_node
    - nav2_pipeline_sequence_bt_node
    - nav2_round_robin_node_bt_node
    - nav2_transform_available_condition_bt_node
    - nav2_time_expired_condition_bt_node
    - nav2_distance_traveled_condition_bt_node
    - nav2_single_trigger_bt_node
    - nav2_is_battery_low_condition_bt_node
    - nav2_navigate_through_poses_action_bt_node
    - nav2_navigate_to_pose_action_bt_node
    - nav2_remove_passed_goals_action_bt_node
    - nav2_planner_selector_bt_node
    - nav2_controller_selector_bt_node
    - nav2_goal_checker_selector_bt_node

bt_navigator_rclcpp_node:
  ros__parameters:
    use_sim_time: False  # Use simulation time if true

controller_server:
  ros__parameters:
    # =====================
    # Controller Server Parameters
    # =====================
    use_sim_time: False  # Use simulation time if true
    controller_frequency: 10.0  # Controller frequency
    min_x_velocity_threshold: 0.002  # Min x velocity threshold
    min_y_velocity_threshold: 0.5  # Min y velocity threshold
    min_theta_velocity_threshold: 0.001  # Min theta velocity threshold
    failure_tolerance: 0.3  # Failure tolerance
    progress_checker_plugin: "progress_checker"  # Progress checker plugin
    goal_checker_plugins: ["general_goal_checker"]  # Goal checker plugins
    controller_plugins: ["FollowPath"]  # Controller plugins

    # Progress checker parameters
    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"  # Progress checker plugin
      required_movement_radius: 0.5  # Required movement radius
      movement_time_allowance: 10.0  # Movement time allowance
    
    general_goal_checker:
      stateful: True  # Stateful goal checker
      plugin: "nav2_controller::SimpleGoalChecker"  # Goal checker plugin
      xy_goal_tolerance: 0.25  # XY goal tolerance
      yaw_goal_tolerance: 0.25  # Yaw goal tolerance

    # DWB parameters
    FollowPath:
      plugin: "dwb_core::DWBLocalPlanner"  # DWB local planner plugin
      debug_trajectory_details: True  # Debug trajectory details
      min_vel_x: 0.0  # Min x velocity
      min_vel_y: 0.0  # Min y velocity
      max_vel_x: 0.15  # Max x velocity
      max_vel_y: 0.0  # Max y velocity
      max_vel_theta: 1.0  # Max theta velocity
      min_speed_xy: 0.0  # Min speed in xy
      max_speed_xy: 0.15  # Max speed in xy
      min_speed_theta: 0.0  # Min theta speed
      acc_lim_x: 1.0  # X acceleration limit
      acc_lim_y: 0.0  # Y acceleration limit
      acc_lim_theta: 3.2  # Theta acceleration limit
      decel_lim_x: -2.0  # X deceleration limit
      decel_lim_y: 0.0  # Y deceleration limit
      decel_lim_theta: -3.2  # Theta deceleration limit
      vx_samples: 20  # X velocity samples
      vy_samples: 0  # Y velocity samples
      vtheta_samples: 40  # Theta velocity samples
      sim_time: 2.0  # Simulation time
      linear_granularity: 0.04  # Linear granularity
      angular_granularity: 0.02  # Angular granularity
      transform_tolerance: 0.2  # Transform tolerance
      xy_goal_tolerance: 0.05  # XY goal tolerance
      trans_stopped_velocity: 0.15  # Translational stopped velocity
      short_circuit_trajectory_evaluation: True  # Short circuit trajectory evaluation
      stateful: True  # Stateful
      critics: ["RotateToGoal", "Oscillation", "BaseObstacle", "GoalAlign", "PathAlign", "PathDist", "GoalDist"]  # Critics
      BaseObstacle.scale: 0.02  # Base obstacle scale
      PathAlign.scale: 32.0  # Path align scale
      PathAlign.forward_point_distance: 0.1  # Path align forward point distance
      GoalAlign.scale: 24.0  # Goal align scale
      GoalAlign.forward_point_distance: 0.1  # Goal align forward point distance
      PathDist.scale: 32.0  # Path distance scale
      GoalDist.scale: 24.0  # Goal distance scale
      RotateToGoal.scale: 32.0  # Rotate to goal scale
      RotateToGoal.slowing_factor: 5.0  # Rotate to goal slowing factor
      RotateToGoal.lookahead_time: -1.0  # Rotate to goal lookahead time
      
controller_server_rclcpp_node:
  ros__parameters:
    use_sim_time: False  # Use simulation time if true

local_costmap:
  local_costmap:
    ros__parameters:
      # =====================
      # Local Costmap Parameters
      # =====================
      update_frequency: 4.0  # Update frequency
      publish_frequency: 2.0  # Publish frequency
      global_frame: odom  # Global frame ID
      robot_base_frame: base_link  # Robot base frame ID
      use_sim_time: False  # Use simulation time if true
      rolling_window: true  # Enable rolling window
      width: 3  # Width of the costmap
      height: 3  # Height of the costmap
      resolution: 0.025  # Resolution of the costmap
      robot_radius: 0.25  # Robot radius
      plugins: ["obstacle_layer", "voxel_layer", "inflation_layer"]  # List of plugins
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"  # Inflation layer plugin
        inflation_radius: 1.0  # Inflation radius
        cost_scaling_factor: 3.0  # Cost scaling factor
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"  # Obstacle layer plugin
        enabled: True  # Enable obstacle layer
        observation_sources: scan  # Observation sources
        scan:
          topic: /scan  # Scan topic
          max_obstacle_height: 2.0  # Max obstacle height
          clearing: True  # Enable clearing
          marking: True  # Enable marking
          data_type: "LaserScan"  # Data type
      voxel_layer:
        plugin: "nav2_costmap_2d::VoxelLayer"  # Voxel layer plugin
        enabled: True  # Enable voxel layer
        publish_voxel_map: True  # Publish voxel map
        origin_z: 0.0  # Origin z
        z_resolution: 0.05  # Z resolution
        z_voxels: 16  # Number of z voxels
        max_obstacle_height: 2.0  # Max obstacle height
        mark_threshold: 0  # Mark threshold
        observation_sources: scan  # Observation sources
        scan:
          topic: /scan  # Scan topic
          max_obstacle_height: 2.0  # Max obstacle height
          clearing: True  # Enable clearing
          marking: True  # Enable marking
          data_type: "LaserScan"  # Data type
          raytrace_max_range: 3.5  # Raytrace max range
          raytrace_min_range: 0.0  # Raytrace min range
          obstacle_max_range: 3.0  # Obstacle max range
          obstacle_min_range: 0.0  # Obstacle min range
      static_layer:
        map_subscribe_transient_local: True  # Enable transient local subscription
      always_send_full_costmap: True  # Always send full costmap
  local_costmap_client:
    ros__parameters:
      use_sim_time: False  # Use simulation time if true
  local_costmap_rclcpp_node:
    ros__parameters:
      use_sim_time: False  # Use simulation time if true

global_costmap:
  global_costmap:
    ros__parameters:
      # =====================
      # Global Costmap Parameters
      # =====================
      update_frequency: 1.0  # Update frequency
      publish_frequency: 1.0  # Publish frequency
      global_frame: map  # Global frame ID
      robot_base_frame: base_link  # Robot base frame ID
      use_sim_time: True  # Use simulation time if true
      robot_radius: 0.25  # Robot radius
      resolution: 0.025  # Resolution of the costmap
      track_unknown_space: true  # Track unknown space
      plugins: ["static_layer", "obstacle_layer", "voxel_layer", "inflation_layer"]  # List of plugins
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"  # Obstacle layer plugin
        enabled: True  # Enable obstacle layer
        observation_sources: scan  # Observation sources
        scan:
          topic: /scan  # Scan topic
          max_obstacle_height: 2.0  # Max obstacle height
          clearing: True  # Enable clearing
          marking: True  # Enable marking
          data_type: "LaserScan"  # Data type
          raytrace_max_range: 3.5  # Raytrace max range
          raytrace_min_range: 0.0  # Raytrace min range
          obstacle_max_range: 3.0  # Obstacle max range
          obstacle_min_range: 0.0  # Obstacle min range
      voxel_layer:
        plugin: "nav2_costmap_2d::VoxelLayer"  # Voxel layer plugin
        enabled: True  # Enable voxel layer
        publish_voxel_map: True  # Publish voxel map
        origin_z: 0.0  # Origin z
        z_resolution: 0.05  # Z resolution
        z_voxels: 16  # Number of z voxels
        max_obstacle_height: 2.0  # Max obstacle height
        mark_threshold: 0  # Mark threshold
        observation_sources: scan  # Observation sources
        scan:
          topic: /scan  # Scan topic
          max_obstacle_height: 2.0  # Max obstacle height
          clearing: True  # Enable clearing
          marking: True  # Enable marking
          data_type: "LaserScan"  # Data type
          raytrace_max_range: 3.5  # Raytrace max range
          raytrace_min_range: 0.0  # Raytrace min range
          obstacle_max_range: 3.0  # Obstacle max range
          obstacle_min_range: 0.0  # Obstacle min range
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"  # Static layer plugin
        map_subscribe_transient_local: True  # Enable transient local subscription
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"  # Inflation layer plugin
        cost_scaling_factor: 3.0  # Cost scaling factor
        inflation_radius: 0.55  # Inflation radius
      always_send_full_costmap: True  # Always send full costmap
  global_costmap_client:
    ros__parameters:
      use_sim_time: False  # Use simulation time if true
  global_costmap_rclcpp_node:
    ros__parameters:
      use_sim_time: False  # Use simulation time if true

map_server:
  ros__parameters:
    use_sim_time: False  # Use simulation time if true
    yaml_filename: "map.yaml"  # YAML filename for the map

map_saver:
  ros__parameters:
    use_sim_time: False  # Use simulation time if true
    save_map_timeout: 5.0  # Save map timeout
    free_thresh_default: 0.25  # Default free threshold
    occupied_thresh_default: 0.65  # Default occupied threshold
    map_subscribe_transient_local: True  # Enable transient local subscription

planner_server:
  ros__parameters:
    # =====================
    # Planner Server Parameters
    # =====================
    expected_planner_frequency: 20.0  # Expected planner frequency
    use_sim_time: False  # Use simulation time if true
    planner_plugins: ["GridBased"]  # List of planner plugins
    GridBased:
      plugin: "nav2_navfn_planner/NavfnPlanner"  # Grid-based planner plugin
      tolerance: 0.5  # Tolerance for the planner
      use_astar: false  # Use A* algorithm
      allow_unknown: true  # Allow unknown space

planner_server_rclcpp_node:
  ros__parameters:
    use_sim_time: False  # Use simulation time if true

recoveries_server:
  ros__parameters:
    # =====================
    # Recoveries Server Parameters
    # =====================
    costmap_topic: local_costmap/costmap_raw  # Costmap topic
    footprint_topic: local_costmap/published_footprint  # Footprint topic
    cycle_frequency: 10.0  # Cycle frequency
    recovery_plugins: ["spin", "backup", "wait"]  # List of recovery plugins
    spin:
      plugin: "nav2_recoveries/Spin"  # Spin recovery plugin
    backup:
      plugin: "nav2_recoveries/BackUp"  # Backup recovery plugin
    wait:
      plugin: "nav2_recoveries/Wait"  # Wait recovery plugin
    global_frame: odom  # Global frame ID
    robot_base_frame: base_link  # Robot base frame ID
    transform_timeout: 0.1  # Transform timeout
    use_sim_time: true  # Use simulation time if true
    simulate_ahead_time: 2.0  # Simulate ahead time
    max_rotational_vel: 1.0  # Max rotational velocity
    min_rotational_vel: 0.4  # Min rotational velocity
    rotational_acc_lim: 3.2  # Rotational acceleration limit

waypoint_follower:
  ros__parameters:
    loop_rate: 2000  # Loop rate
    stop_on_failure: false  # Stop on failure
    waypoint_task_executor_plugin: "wait_at_waypoint"   
    wait_at_waypoint:
      plugin: "nav2_waypoint_follower::WaitAtWaypoint"  # Wait at waypoint plugin
      enabled: True  # Enable wait at waypoint
      waypoint_pause_duration: 200  # Waypoint pause duration
